<div class="close-button">
  <button mat-icon-button class="back-button" mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<mat-card class="product-form-card">
  <mat-card-header>
    <mat-card-title>{{ dialogData ? 'Edit Product' : 'Add Product' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input formControlName="name" matInput placeholder="Enter product name"/>
        @if (productForm.get('name')?.hasError('required') && (productForm.get('name')?.touched || submitted)) {
          <mat-error>
            Name is required
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input
          formControlName="price"
          matInput
          placeholder="Enter price"
          type="number"
          />
          @if (productForm.get('price')?.hasError('required') && (productForm.get('price')?.touched || submitted)) {
            <mat-error>
              Price is required
            </mat-error>
          }
          @if (productForm.get('price')?.hasError('min')) {
            <mat-error>
              Price must be greater than 0
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input
            formControlName="quantity"
            matInput
            placeholder="Enter quantity"
            type="number"
            />
            @if (productForm.get('quantity')?.hasError('required') && (productForm.get('quantity')?.touched || submitted)) {
              <mat-error>
                Quantity is required
              </mat-error>
            }
            @if (productForm.get('quantity')?.hasError('min')) {
              <mat-error>
                Quantity must be 0 or greater
              </mat-error>
            }
          </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            formControlName="description"
            matInput
            placeholder="Enter product description"
          ></textarea>
          @if (productForm.get('description')?.hasError('required') && (productForm.get('description')?.touched || submitted)) {
            <mat-error>
              Description is required
            </mat-error>
          }
        </mat-form-field>

        <div>
          <label for="image">Product Image</label>
          <input
            (change)="onFileChange($event)"
            accept="image/*"
            id="image"
            type="file"
            />
          @if (productForm.get('image')?.hasError('required') && (productForm.get('image')?.touched || submitted)) {
            <p class="error">Product image is required</p>
          }
        </div>

          <button
            [disabled]="productForm.invalid || isSaving"
            color="primary"
            mat-raised-button
            type="submit"
            >
            {{ dialogData ? 'Save Changes' : 'Add Product' }}
          </button>

          @if (errorMessage) {
            <p class="error">{{ errorMessage }}</p>
          }
        </form>
      </mat-card-content>
    </mat-card>


