<div class="toolbar">
  <div id="logo">
    <a routerLink="/">logo</a>
  </div>
  <div class="nav-bar">
    <ul>
      <li class="nav-list"><mat-icon>bookings</mat-icon><span><a routerLink="/booking">Book appointment</a></span></li>
      <li class="nav-list"><mat-icon>inventory</mat-icon><span><a routerLink="/products">Products</a></span></li>
    </ul>
  </div>
  <div>
    <div class="controls">
      <div class="options"><mat-icon>person</mat-icon> <span>profile</span></div>
      <div class="options"><mat-icon>settings</mat-icon><span>settings</span></div>
    </div>
  </div>
</div>
