@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:host {
  .toolbar {
    background-color: #683e1d;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: white;

    .logo {
      display: flex;
      justify-content: space-between;
      font-family: 'Pacifico', cursive;
    }


    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-inline: 10px;
      margin-block: 3px;
    }


    a:hover {
      cursor: pointer;
    }


    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-list {
        list-style-type: none;
        margin-right: 30px;
        display: flex;
        align-items: center;
      }
    }

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;

      .options {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

      .cart-button {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 6px 12px;
        border-radius: 999px;
        background-color: rgba(255, 255, 255, 0.12);
        color: white;
        text-transform: none;
        font-weight: 600;
        min-width: unset;
      }

      .cart-icon {
        margin-right: 0;
        font-size: 20px;
      }

      .cart-label {
        letter-spacing: 0.2px;
      }
    }
  }

}

:host ::ng-deep .cart-badge .mat-badge-content {
  right: -8px;
  top: -6px;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  font-size: 11px;
  line-height: 18px;
}



