
:host {
  .toolbar {
    background-color: #d19754;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: white;


    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-left: 10px;
      margin-block: 3px;
    }


    a:hover {
      cursor: pointer;
    }


    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      .nav-list {
        list-style-type: none;
        margin-right: 30px;
        display: flex;
        align-items: center;
      }
    }

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;

      .options {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }
  }

}



