<div class="toolbar">
  <div id="logo">
    <a routerLink="/">logo</a>
  </div>
  <div class="nav-bar">
  </div>
  <div>
    {{isAuthenticated$ | async}}
    <div class="controls">
      @if(!(isAuthenticated$ | async)) {
        <div class="options">
          <mat-icon>login</mat-icon>
          <span><a routerLink="/login">Login</a></span>
        </div>
        <!--      <div class="options"><mat-icon>person</mat-icon> <span>profile</span></div>-->
          <!--      <div class="options"><mat-icon>settings</mat-icon><span>settings</span></div>-->
<!--        </div>-->
      } @else {
        <div (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span><a routerLink="">Logout</a></span>
        </div>
      }
  </div>
</div>
