.featured-products {
  padding: 60px;
  text-align: center;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.product-card img {
  height: 200px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.product-card .price {
  font-size: 1.1em;
  font-weight: bold;
  color: #3f51b5; /* Primary color */
}

.product-card mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
