<div class="login-container">
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Welcome!</mat-card-title>
      <mat-card-subtitle>Important Information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="logo">
        <!--        <img [src]="imageUrl" alt="logo" height="1080" width="1080"/>-->
      </div>
      <p>
        <mat-icon>home</mat-icon>
        <span>If you are a <strong> customer</strong>, please go to the <a routerLink="/"> Home Page</a>.</span>
      </p>
      <p>
        <mat-icon>admin_panel_settings</mat-icon>
        <span>The <strong> Login Page</strong> is intended for <strong> admin users</strong> only.</span>
      </p>
    </mat-card-content>
  </mat-card>
  <div class="login-card">
    <div>Login</div>
    <form #loginForm=ngForm (ngSubmit)="submit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="loginData.email" email id="email" name="email" placeholder="Enter your email" required
               type="email">
      </div>
      @if (loginForm.submitted && loginForm.form.controls['email'].errors) {
        <div class="error-message">Please enter a valid email</div>
      }
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="loginData.password" id="password" name="password" placeholder="Enter your password" required
               type="password">
      </div>
      @if (loginForm.submitted && loginForm.form.controls['password'].errors) {
        <div class="error-message">password is required</div>
      }
      <button [disabled]="!loginForm.form.valid" type="submit">Login</button>
      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }


    </form>
  </div>
</div>
