<div>
  <app-header [isAuthenticated]="isAuthenticated"></app-header>
  <app-hero [isAuthenticated]="isAuthenticated"></app-hero>
  <app-featured-products></app-featured-products>
  <section class="about-section">
    <h2>About Us</h2>
    <p>
      Jen's Hair Palour is dedicated to providing top-notch hair services and premium hair care products.
      Our team of experts is passionate about helping you look and feel your best.
    </p>

    <!--    <a class="cta-button" routerLink="/home">Learn More</a>-->
    <footer>
      <p>&copy; 2025 Jen's Hair Palour. All rights reserved.</p>
    </footer>
  </section>
</div>


